body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
  }
  ul,
  ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
  a {
    text-decoration: none;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .container {
    max-width: 1278px;
    padding: 0 16px;
    margin: 0 auto; 
  }
 
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .section {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  /* #region header */
  .page-header {
    box-shadow: 0 4px 24px 0 rgba(105, 105, 105, 0.1);
    background-color: #fefefe;
}
  .header-container {
    display: flex;
    align-items: center;   
}
  .header-logo {
    padding: 10px 0; 
    margin-right: auto;  
}
  .header-nav {
    margin-right: 30px;
}
  .header-list {
    display: flex;
    align-items: center;
    gap: 28px;
}
  .header-link {
    display: block;
    padding: 28px 0;
    font-size: 14px;
    color: #2c2c2c;
}
.header-link:hover,
.header-link:focus {
  font-weight: 700;
  text-decoration: underline;
  color: #bbf330;
}
  .header-button,
  .hero-button,
  .about-btn {
  display: block;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: #2c2c2c;
  border-radius: 30px;
  min-width: 98px;
  min-height: 32px;
  background-color: #bbf330;
  border: none;
  cursor: pointer;
}
  /* #endregion header */
  /* #region hero */
  .hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  .hero-text-wrap{
    width: 511px;
  }
  .hero-title {
  font-size: 48px;
  line-height: 1.2;
  color: #2c2c2c;
  margin-bottom: 28px;
  }
  .title-descrip {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 40px;

  }
  /* #endregion hero */
  /* #region about */
  .about {
    padding-top: 113px;
    padding-bottom: 124px;
  }
  .page-about{
    display: flex;
    align-items: center;
    gap: 90px;
    background-color: #ffe550;
  }
  .about-wrap {
    width: 573px;

  }
  .about-title {
    font-size: 42px;
    line-height: 1.2;
    margin-bottom: 20px;

  }
  .about-title-text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 40px;
  }
  .about-list {
    display: flex;
    gap: 67px;
    margin-bottom: 32px;
  }
  .about-item {
    width: calc((100% - 67px)/2);
  }
  .about-subt {
    font-size: 18px; 
    line-height: 1.4;
    margin-bottom: 16px;
  }
  .about-subt-text {
    font-size: 14px;
   line-height: 1.5;
  
  }
  .icon {
    fill: #7eb101;
    margin-bottom: 8px;
  }
  .about-btn {
    border: 2px solid #7eb101;
    background-color: #fff;
  }
  /* #endregion about */

  /* #region favorites */
  .favorites {
    padding-top: 120px;
    padding-bottom: 101px;
  }
  .favorites-title {
    font-size: 42px;
    text-align: center;
    margin-bottom: 20px;
  }
  .favorites-text {
    font-size: 16px;
    text-align: center;
    margin-bottom: 40px;
  }
  .favorites-list-wrap {
   
  }
  .favorites-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    
  }
  .favorites-item {
    width: calc((100% - 64)/3);
  }
  .favoritesitem {
  }
  /* #endregion favorites */